<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="sg.edu.nus.cs5231" version="0.0.1">
	<name>Vulnerable Plugin</name>
	<description>Plugin with malicious intent</description>
	<license>Nil</license>
	<keywords>vulnerable</keywords>
	<js-module src="www/vulnerable.js" name="vulnerable">
		<clobbers target="vulnerable" />
	</js-module>
	<platform name="android">
	</platform>
</plugin>